.team_details_area{
    .team_details_wrapper{
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        .team_details_image{
            max-width: 690px;
            height: 420px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .meta_area{
            // background-color: red;
            border-bottom: 1px solid $--border;
            padding-bottom: 30px;
            P{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: #142137b3;
            }
        }
        .team_contact_area{
            ul{
                padding: 0;
            }
        }
    }
}
.team_meta_name{
    h4{
        font-family: $--font-family;
        font-weight: 600;
        font-size: 34px;
        // line-height: 188%;
        letter-spacing: -0.02em;
        color: $--text_clr;
    }
    p{
        font-family: $--font-family;
        font-weight: 400;
        font-size: 16px;
        // line-height: 162%;
        color: #142137b3;gi
    }
}

